<!DOCTYPE HTML>
<html>
    <head>
        <tittle><%=title%></tittle>
        <link rel='stylesheet' href='/stylesheets/style.css'/>

    </head>

    <body>
        <h3>123</h3>
        <h1><%=title%></h1>
        <p>chào mừng !</p>
    </body>
</html>